In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsRegressor
import sklearn.metrics

In [2]:
diamonds_df = sns.load_dataset("diamonds")

In [3]:
categorical_features = list(diamonds_df.select_dtypes("category").columns)

In [4]:
dummy_dfs = []

for categorical_column in categorical_features:
    dummy_dfs.append(pd.get_dummies(diamonds_df[categorical_column], drop_first=True))

In [5]:
data = pd.concat([diamonds_df.drop(categorical_features, axis=1), *dummy_dfs], axis=1)

In [6]:
data

,carat,depth,table,price,x,y,z,Premium,Very Good,Good,...,H,I,J,VVS1,VVS2,VS1,VS2,SI1,SI2,I1
0,0.23,61.5,55.0,326,3.95,3.98,2.43,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0.21,59.8,61.0,326,3.89,3.84,2.31,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0.23,56.9,65.0,327,4.05,4.07,2.31,0,0,1,...,0,0,0,0,0,1,0,0,0,0
3,0.29,62.4,58.0,334,4.20,4.23,2.63,1,0,0,...,0,1,0,0,0,0,1,0,0,0
4,0.31,63.3,58.0,335,4.34,4.35,2.75,0,0,1,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,60.8,57.0,2757,5.75,5.76,3.50,0,0,0,...,0,0,0,0,0,0,0,1,0,0
53936,0.72,63.1,55.0,2757,5.69,5.75,3.61,0,0,1,...,0,0,0,0,0,0,0,1,0,0
53937,0.70,62.8,60.0,2757,5.66,5.68,3.56,0,1,0,...,0,0,0,0,0,0,0,1,0,0
53938,0.86,61.0,58.0,2757,6.15,6.12,3.74,1,0,0,...,1,0,0,0,0,0,0,0,1,0
53939,0.75,62.2,55.0,2757,5.83,5.87,3.64,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [7]:
X = data.drop("price", axis=1)
y = data["price"]

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [9]:
knn = KNeighborsRegressor()

In [10]:
knn.fit(X_train, y_train)

KNeighborsRegressor()

In [11]:
y_pred = knn.predict(X_test)

In [12]:
print("RMSE: ", np.sqrt(sklearn.metrics.mean_squared_error(y_pred, y_test)))

RMSE:  1001.556989428235

Now with scaling!

In [13]:
st_scaler = StandardScaler()
X_train_scaled = st_scaler.fit_transform(X_train)

In [14]:
knn = KNeighborsRegressor()
knn.fit(X_train_scaled, y_train)

KNeighborsRegressor()

In [15]:
y_pred = knn.predict(st_scaler.transform(X_test))

In [16]:
print("RMSE: ", np.sqrt(sklearn.metrics.mean_squared_error(y_pred, y_test)))

RMSE:  895.6409606128587

In [17]:
sklearn.metrics.mean_absolute_error(y_pred, y_test)

440.59127425534547