In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler, PolynomialFeatures, RobustScaler
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import Ridge, Lasso
from sklearn.pipeline import Pipeline
from sklearn import metrics

In [3]:
diamonds_df = sns.load_dataset("diamonds")
X = diamonds_df[["carat", "depth", "table", "x", "y", "z"]]
y = diamonds_df["price"]

In [4]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [5]:
X_train.sample(5)

       carat  depth  table     x     y     z
2317    0.70   62.6   55.0  5.66  5.69  3.55
2607    0.90   60.5   58.0  6.22  6.27  3.78
24034   0.29   62.7   61.0  4.20  4.22  2.64
50715   0.67   62.3   62.0  5.50  5.59  3.46
44802   0.50   61.3   58.0  5.06  5.12  3.12

#### Ridge Regression
https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.Ridge.html

In [23]:
ridge = Ridge(normalize=True)

In [28]:
hyperparameters = {"alpha":np.linspace(0, 0.03, 10)}

In [29]:
grid = GridSearchCV(ridge, hyperparameters, cv=5, verbose=True, scoring="neg_root_mean_squared_error")

In [30]:
grid.fit(X_train, y_train.values)

Fitting 5 folds for each of 10 candidates, totalling 50 fits

GridSearchCV(cv=5, estimator=Ridge(normalize=True),
             param_grid={'alpha': array([0.        , 0.00333333, 0.00666667, 0.01      , 0.01333333,
       0.01666667, 0.02      , 0.02333333, 0.02666667, 0.03      ])},
             scoring='neg_root_mean_squared_error', verbose=True)

In [31]:
pd.DataFrame(np.abs(grid.cv_results_["mean_test_score"]), columns=["Loss"], index = hyperparameters["alpha"])

                 Loss
0.000000  1546.244133
0.003333  1511.026975
0.006667  1515.211540
0.010000  1521.518457
0.013333  1528.446630
0.016667  1535.592196
0.020000  1542.740017
0.023333  1549.760959
0.026667  1556.578374
0.030000  1563.149323

In [32]:
y_pred = grid.predict(X_test)

In [33]:
print("RMSE: ", np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print("MAE: ", metrics.mean_absolute_error(y_test, y_pred))

RMSE:  1462.9903772059579
MAE:  906.3943411670763

## Advanced Model

In [34]:
rs = RobustScaler()
poly = PolynomialFeatures()
lasso  = Lasso()

pipe = Pipeline([
    ("poly", poly),
    ("rs",rs),
    ("lasso",lasso)
])

In [35]:
hyperparameter_grid = {
    "poly__degree": [1, 2, 3],
    "lasso__alpha": np.linspace(0,0.5,11)
}

In [36]:
grid = GridSearchCV(pipe, hyperparameter_grid, verbose=True, n_jobs=4,
                   scoring="neg_root_mean_squared_error")

In [37]:
grid.fit(X_train, y_train)

Fitting 5 folds for each of 33 candidates, totalling 165 fits

GridSearchCV(estimator=Pipeline(steps=[('poly', PolynomialFeatures()),
                                       ('rs', RobustScaler()),
                                       ('lasso', Lasso())]),
             n_jobs=4,
             param_grid={'lasso__alpha': array([0.  , 0.05, 0.1 , 0.15, 0.2 , 0.25, 0.3 , 0.35, 0.4 , 0.45, 0.5 ]),
                         'poly__degree': [1, 2, 3]},
             scoring='neg_root_mean_squared_error', verbose=True)

In [38]:
grid_df = pd.DataFrame(grid.cv_results_["params"])

In [40]:
grid_df

    lasso__alpha  poly__degree
0           0.00             1
1           0.00             2
2           0.00             3
3           0.05             1
4           0.05             2
5           0.05             3
6           0.10             1
7           0.10             2
8           0.10             3
9           0.15             1
10          0.15             2
11          0.15             3
12          0.20             1
13          0.20             2
14          0.20             3
15          0.25             1
16          0.25             2
17          0.25             3
18          0.30             1
19          0.30             2
20          0.30             3
21          0.35             1
22          0.35             2
23          0.35             3
24          0.40             1
25          0.40             2
26          0.40             3
27          0.45             1
28          0.45             2
29          0.45             3
30          0.50             1
31          0.50             2
32          0.50             3

In [41]:
grid_df["loss"] = -grid.cv_results_["mean_test_score"]
grid_df

    lasso__alpha  poly__degree         loss
0           0.00             1  1544.441247
1           0.00             2  2555.218909
2           0.00             3  7115.220698
3           0.05             1  1542.208720
4           0.05             2  2480.738685
5           0.05             3  6772.066501
6           0.10             1  1540.041891
7           0.10             2  2404.025072
8           0.10             3  6420.602595
9           0.15             1  1537.933589
10          0.15             2  2331.589398
11          0.15             3  6131.886368
12          0.20             1  1535.886894
13          0.20             2  2262.611683
14          0.20             3  5892.877102
15          0.25             1  1533.902338
16          0.25             2  2194.886856
17          0.25             3  5777.617859
18          0.30             1  1531.980697
19          0.30             2  2126.498657
20          0.30             3  5649.036702
21          0.35             1  1530.122864
22          0.35             2  2058.665920
23          0.35             3  5502.542012
24          0.40             1  1528.329797
25          0.40             2  1993.202197
26          0.40             3  5461.675028
27          0.45             1  1526.602512
28          0.45             2  1933.706578
29          0.45             3  5534.746590
30          0.50             1  1524.941904
31          0.50             2  1889.927127
32          0.50             3  5602.492248

In [42]:
grid.best_params_

{'lasso__alpha': 0.5, 'poly__degree': 1}