#### .apply() and lambda Functions

In [23]:
import seaborn as sns
import pandas as pd
import numpy as np
from functools import reduce

In [2]:
iris = sns.load_dataset("iris")

In [6]:
iris.head(5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [7]:
iris["sepal_sum"] = iris[["sepal_length", "sepal_width"]].apply(lambda x: x[0]+x[1], axis=1)

In [8]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species  sepal_sum
0           5.1          3.5           1.4          0.2  setosa        8.6
1           4.9          3.0           1.4          0.2  setosa        7.9
2           4.7          3.2           1.3          0.2  setosa        7.9
3           4.6          3.1           1.5          0.2  setosa        7.7
4           5.0          3.6           1.4          0.2  setosa        8.6

In [9]:
iris[["sepal_length", "sepal_width"]].apply(sum, axis=1)

0      8.6
1      7.9
2      7.9
3      7.7
4      8.6
      ...
145    9.7
146    8.8
147    9.5
148    9.6
149    8.9
Length: 150, dtype: float64

In [11]:
def my_sum(x):
    return x[0] + x[1]

In [12]:
iris[["sepal_length", "sepal_width"]].apply(my_sum, axis=1)

0      8.6
1      7.9
2      7.9
3      7.7
4      8.6
      ...
145    9.7
146    8.8
147    9.5
148    9.6
149    8.9
Length: 150, dtype: float64

#### Filter

In [15]:
list(filter(lambda x: x>5, np.arange(10)))

[6, 7, 8, 9]

In [17]:
(lambda x: x>5)(4)

False

In [18]:
def bigger_five(x):
    return x > 5

In [19]:
list(filter(bigger_five, np.arange(10)))

[6, 7, 8, 9]

#### Map

In [20]:
list(map(lambda x: x>5, np.arange(10)))

[False, False, False, False, False, False, True, True, True, True]

#### Reduce

In [24]:
reduce(lambda x1, x2: x1*x2, [1,2,3,4,5])

120